* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
    font-size: 62.5%;
}

/* header {
    height: 100vh;
} */


ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 23%;
    padding-top: 3%;
    padding-left: 3.5%;
    list-style: none;
}

li {
    padding-left: 15%;
}

.our__story-link {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 300;
}

section {
    height: 100vh;
}

h3 {
    font-weight: 500;
}

p {
    font-size: 2.4rem;
    /* margin-top: 1.5rem; */
    margin-bottom: 1%;
    font-style: normal;
    line-height: 4.3rem;
    font-weight: 300;
}

.q-logo {
    width: 9rem;
}

.our__story-link {
    border-bottom: 1px solid black;
}

.our-story {
    font-size: 3.7rem;
    margin-bottom: 1.5rem;
}

.our__story-section {
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 9.5%;
    display: flex;
    flex-direction: column;
}

.the__agent {
    padding-left: 22%;
    padding-right: 21%;
    padding-top: 18.5%;
    padding-bottom: 20%;
    flex-direction: column;
}

.the__agent-story {
    font-size: 3.1rem;
    margin-bottom: 1.5rem;
}



/* ----------- Mobile usage ------------ */
@media only screen and (max-width 480px) {

    p {
        font-size: 3.8rem;
    }

    li{
        width: 55%
    }

    ul {
        display: flex;
        align-items: center;
        width: 60%;
        padding-top: 3%;
        padding-left: 3.5%;
        list-style: none;
    }

    .our__story-section {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 9.5%;
    }

    .the__agent {
        padding: 7%;
    }
} 



/* ----------- Mobile usage ends ------------ */

/* ----------- Smallscreen usage ------------ */

@media only screen and (max-width:1300px) {
    p {
        font-size: 1.8rem;
        margin-bottom: 1%;
        font-style: normal;
        line-height: 3rem;
        font-weight: 300;
    }

    ul {
        width: 60%;
    }

    li {
        width: 55%
    }
    .our-story {
        margin-bottom: 1rem;
    }

    .the__agent {
        padding-left: 18% ;
        padding-right: 18% ;
        padding-top: 12%;
        padding-bottom: 6%;
    }
}

/* ----------- Smallscreen usage ends ------------ */

