* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
    font-size: 62.5%;
}

header {
    height: 100vh;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31rem;
    padding-top: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 1.5rem;
    padding-left: 6.5rem;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

section {
    height: 100vh;
}

p {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-style: normal;
    line-height: 4.3rem;
    font-weight: 300;
}

.q-logo {
    width: 9rem;
}

.our__story-link {
    border-bottom: 1px solid black;
}

.our-story {
    font-size: 3.7rem;
    margin-bottom: 1.5rem;
}

.our__story-section {
    padding-left: 23rem;
    padding-right: 23rem;
    padding-top: 8.5rem;
    display: flex;
    flex-direction: column;
}

.the__agent {
    padding-left: 26rem;
    padding-right: 26rem;
    padding-top: 5.5rem;
    display: flex;
    flex-direction: column;
}

.the__agent-story {
    font-size: 3.1rem;
    margin-bottom: 1.5rem;
}