* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

header {
    height: 100vh;
}

body {}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31rem;
    padding-top: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 1.5rem;
    padding-left: 6.5rem;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

section {
    min-height: 100vh;
}

h3 {
    font-size: 3.7rem;
    margin-bottom: 1.5rem;
}

p {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.q-logo {
    width: 9rem;
}

.our__story-link {
    border-bottom: 1px solid black;
}

.our__story-section {
    padding-left: 16rem;
    padding-right: 16rem;
    padding-bottom: 8.5rem;
}

.the-agent {
    padding-left: 18rem;
    padding-right: 18rem;
    padding-top: 5.5rem;
}