* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
    font-size: 62.5%;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

#section-1 {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ce82b63338ade0001773744/1560194358763-0FSEP70XI34IL8XXZEQQ/ke17ZwdGBToddI8pDm48kOxLRGAfd8DHyn-VO-OS79h7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlnKv1yxoTk5msUVUpzS-jwidPkl-46T667XTMzLYTMBnw/pickle-perfection-v1.jpg?format=2500w);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#section-2 {
    min-height: 35vh;
}

ul {
    display: flex;
    align-items: center;
    width: 23%;
    padding-top: 3%;
    padding-left: 3.5%;
    list-style: none;
}

li {
    padding-left: 15%;
}

.our__story-link {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    font-weight: 300;
}

.q-logo {
    width: 9rem;
}

.quick_solution {
    display: flex;
    justify-content: center;
    margin-top: 16%;
    color: white;
    font-size: 4.8rem;
}

h1 {
    font-weight: 600;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact__link {
    background-color: white;
    border: none;
    color: #f08e80;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    -webkit-transition-duration: 0.4s;
    cursor: pointer
}

.contact__link:hover {
    background-color: #f08e80;
    color: white;

}

/* --------- NEW SECTION --------- */

.onlyTheBest {
    margin-left: 3%;
    padding-left: 4%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 4.2rem;
    font-weight: 500;
    margin-bottom: 3.4rem;
    letter-spacing: 0.2rem;
}

p {
    font-size: 1.7rem;
    font-weight: 300;
}

.vegi-pics {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-left: 3%;
    padding-right: 3%;

}

.vegi-pics__img {
    width: 25%;
}

.vegi-pics__img:not(:first-child) {
    padding-left: 1rem;
}

/* --------- NEW SECTION --------- */

.section__dill {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dill {
    padding: 4.5rem;
}

.the-dill {
    display: flex;
    justify-content: center;
}

.send-email {
    display: flex;
    justify-content: center;
    margin-top: 1.7rem;
}

.contact-formula {
    display: flex;
    justify-content: center;
    padding: 1.7rem;
}

.contact-formula__link {
    background-color: #f08e80;
    border: 2px solid #f08e80;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    -webkit-transition-duration: 0.4s;
    cursor: pointer
}

.contact-formula__link:hover {
    background-color: white;
    color: #f08e80;
    border: 2px solid #f08e80;
}

/* --------- CONTACT FORM --------- */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: hidden;
}

.modal-content {
    background-color: white;
    margin: 0 auto;
    padding: 4rem;
    max-width: 68rem;
    margin-top: 9%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

h3 {
    font-size: 2.2rem;
    font-weight: 300;
}

form {
    width: 100%;
}

.input_field {
    padding: 1.2rem;
}

input[type=text] {
    font-family: 'Poppins';
    padding: 1.2rem;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(204, 204, 204);
    width: 98%;
    margin: 0.4rem;
}

.half {
    width: 48% !important;
}

textarea {
    resize: none;
    font-family: 'Poppins';
    padding: 1.2rem;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(204, 204, 204);
    margin: 0.4rem;
    width: 98%;
    height: 15rem;
}

.submit_button {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    background-color: rgb(39, 39, 39);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    -webkit-transition-duration: 0.4s;
    cursor: pointer
}

#error_message {
    margin-bottom: 20px;
    background: #f08e80;
    padding: 0px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    transition: all 0.5s ease;
}

.close {
    color: black;
    font-size: 2.2rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ----------- Small screen usage ------------ */

@media only screen and (max-width:1300px) {

    ul {
        width: 30%;
    }

    .vegi-pics {
        padding-top: 5%;
    }
}

/* ----------- Small screen usage ends ------------ */
/* ----------- Mobile usage ------------ */

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 4rem;
    }

    ul {
        width: 60%;
    }

    li {
        width: 100%;
    }

    .quick_solution {
        margin-top: 67%;
    }

    .onlyTheBest {
        margin-top: 50%;
    }

    .vegi-pics {
        align-items: center; 
    }

    .vegi-pics__img {
        width: 10.5rem;
        height: 10.5rem;
    }

    .dill {
        padding: 0.5rem;
    }

    .half {
        width: 46% !important;
    }
}
/* ----------- Mobile usage ENDS------------ */