* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

.q-logo {
    width: 9rem;
}

header{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ce82b63338ade0001773744/1560194358763-0FSEP70XI34IL8XXZEQQ/ke17ZwdGBToddI8pDm48kOxLRGAfd8DHyn-VO-OS79h7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlnKv1yxoTk5msUVUpzS-jwidPkl-46T667XTMzLYTMBnw/pickle-perfection-v1.jpg?format=2500w);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31rem;
    padding-top: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 6.5rem;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

.quick_solution{
    display: flex;
    justify-content: center;
    margin-top: 28rem;
    color: white;
    font-size: 4.8rem;
}

.contact {
    display: flex;
    justify-content: center;
   
    }

    .contact__link {
    background-color: white;
    border: none;
    color: #f08e80;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    -webkit-transition-duration: 0.4s; /* Safari */
 /*  transition-duration: 0.4s; */
  cursor: pointer
    }

    .contact__link:hover {
        background-color: #f08e80;
        color: white;
      }

      /* --------- NEW SECTION --------- */

      .onlyTheBest {
        padding: 5.8rem
      }

      h2 {
          font-size: 4.2rem;
          margin-bottom: 3.4rem;
          letter-spacing: 0.2rem;
      }

      p {
          font-size: 1.7rem;
      }

      .vegi-pics {
        display: flex;
        justify-content: space-between; 
        padding: 4.8rem;
      }

      .pickle {
        width: 42rem;
        height: 42rem;
      }

      .cabage {
        width: 42rem;
        height: 42rem;
      }

      .chili {
        width: 42rem;
        height: 42rem;
        }


      /* --------- NEW SECTION --------- */






        .the-dill {
            display: flex;
            justify-content: center;

        } 

    /*     .contact-formula {
            display: flex;
            justify-content: center;
           
            } */
        
            .contact-formula__link {
            background-color: #f08e80;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.5rem;
            -webkit-transition-duration: 0.4s; /* Safari */
         /*  transition-duration: 0.4s; */
          cursor: pointer
            }
        
            .contact-formula__link:hover {
                background-color: white;
                color: #f08e80;
              }